<div class="panel panel-default">
  <div class="panel-heading">第11期上半期総会</div>
   <div class="panel-body">
     <div class="col-md-6">
       <%= image_tag('/image/award11first.png',:size => "230x140")%>
     </div>
     <div class="col-md-6">
       <p>2016年12月19日に開催された第11期上半期総会で表彰された方々を紹介します！</p>
       <p>総会に参加していない人もここでチェックしてください！</p>
       <p><%= link_to "もっと見る", home_award_11first_path ,class:"btn btn-default" %></p>
     </div>
   </div>
</div>
