<!--<%= image_tag "/image/credo.gif", class:"credo" %>-->
<div class="panel panel-default">
  <div class="panel-body">
  <h5><span class="glyphicon glyphicon-star" aria-hidden="true"></span> 今日のコンピテンシー</h5>
  <h5><b><%= @competency_title %></b></h5>
  <p><%= @competency_level %></p>
  <li style="list-style:none;"><span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span>GOOD行動</li>
  <p><%= @competency_good %></p>
  </div>
</div>
