<!--<%= image_tag "/image/credo.gif", class:"credo" %>-->
<div class="panel panel-default">
  <div class="panel-body">
  <h5><span class="glyphicon glyphicon-flag" aria-hidden="true"></span> 今日のクレド</h5>
  <p><b><%= @credo_title %></b></p>
  <p><%= @credo_message %></p>
  </div>
</div>
