<% if Date.current.strftime('%Y') === '2017' %>
  <div class="panel panel-default">
    <div class="panel-body">
    <h5><span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span> 元気が出るシート</h5>
    <p>社員・インターンの2017年の目標を集めました</p>
    <a class="btn btn-info btn-sm" href="https://docs.google.com/spreadsheets/d/1-wiPz7Lfsncud_By6x3NPiqAAY5LD45MEQQnS_GtmIM/edit#gid=1786718294" role="button">シートをみる</a><br>
    </div>
  </div>
<% end %>
