<div class="list-group table-of-contents" id="accordion">
  <a class="list-group-item" href="http://52.68.163.227/wordpress/" target="_blank"><span class="glyphicon glyphicon-time" aria-hidden="true"></span> 日報サイト</a>
  <a class="list-group-item" href="http://cubic-hd.co.jp/blog/ceo/" target="_blank"><span class="glyphicon glyphicon-edit" aria-hidden="true"></span> 社長ブログ</a>
  <a class="list-group-item" href="https://drive.google.com/drive/folders/0B1JbLWhC6P1cRHF0Rk9NTW5PS0k?usp=sharing" target="_blank"><span class="glyphicon glyphicon-duplicate" aria-hidden="true"></span> フォーマットBOX</a>
  <a class="list-group-item" data-toggle="collapse" data-parent="#accordion" href="#collapseOne"><span class="glyphicon glyphicon-calendar" aria-hidden="true"></span> 勤怠管理  <span class="glyphicon glyphicon-menu-down" aria-hidden="true"></span></a>
    <div id="collapseOne" class="panel-collapse collapse">
      <a class="list-group-item" href="https://docs.google.com/document/d/1u9y-eJ6ZH-SR-kE9j9-iwvcL-EndyPLtigYXlj2Deww/edit" target="_blank">勤怠締めマニュアル</a>
      <a class="list-group-item" href="https://drive.google.com/drive/folders/0Bw5foGvt2eOsR0N2bjkzSENUaW8" target="_blank">交通費追加申請シート</a>
    </div>
    <a class="list-group-item" data-toggle="collapse" data-parent="#accordion" href="#collapseSeven"><span class="glyphicon glyphicon-phone-alt" aria-hidden="true"></span> 電話対応  <span class="glyphicon glyphicon-menu-down" aria-hidden="true"></span></a>
      <div id="collapseSeven" class="panel-collapse collapse">
        <a class="list-group-item" href="https://docs.google.com/spreadsheets/d/1FoSRhajKBGtr_leQ_nuoRJYiDgSAptUAM51T-Bfsvwc/edit#gid=0" target="_blank">電話対応フローチャート</a>
        <a class="list-group-item" href="https://docs.google.com/spreadsheets/d/1X2mk8QCySqc8egCn5MZrta1Bv25fgtCayG5il3A9CBE/edit#gid=2004943699" target="_blank">内線表</a>
        <a class="list-group-item" href="https://calendar.google.com/calendar/render?hl=ja#main_7" target="_blank">カレンダー</a>
        <a class="list-group-item" href="https://docs.google.com/document/d/1BWyvkR3o9DJ02ylZX6pcc9HjOM7WCA850e4pNeFjmrI/edit" target="_blank">電話対応マニュアル</a>
        <a class="list-group-item" href="https://docs.google.com/document/d/1ojgO8U3UcSaRTRFvBHDDXDKW6FVhyw5GPcCs69VQAIA/edit" target="_blank">森實さん宛電話対応マニュアル</a>

      </div>

  <a class="list-group-item" href="https://drive.google.com/drive/folders/0Bw5foGvt2eOsfnRvRUt1YVM5YXNSUzB1WXZpWXVVbXdEZUtSbXZ1LV9JRDNZdlFFbksxclU" target="_blank"><span class="glyphicon glyphicon-file" aria-hidden="true"></span> 全社共通シート</a>

  <a class="list-group-item" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo"><span class="glyphicon glyphicon-folder-open" aria-hidden="true"></span> 各種利用マニュアル  <span class="glyphicon glyphicon-menu-down" aria-hidden="true"></span></a>
    <div id="collapseTwo" class="panel-collapse collapse">
      <a class="list-group-item" href="https://docs.google.com/document/d/1TNYCPnnm9HDGYw5KREkcW_6zZkTXiA6EnyYBq7p-CY8/edit" target="_blank">オフィス利用マニュアル</a>
      <a class="list-group-item" href="https://docs.google.com/document/d/1Th0yirc7JiafjmUU7buDOnvbgdgaBNi_Zi5wvRqP0Os/edit" target="_blank">共有フォルダ</a>
      <a class="list-group-item" href="https://docs.google.com/document/d/1u5gFJksNfCWZ2aPVcyIsUYN1ig84vtc4p9HJvIoDv3M/edit#heading=h.5by9fm593lk6" target="_blank">ジョブカン勤怠マニュアル</a>
      <a class="list-group-item" href="https://docs.google.com/document/d/17mgfTfv9nnwXcHEvQ2IVVXrtP3cPyv6dYJpYWa1fVDQ/edit" target="_blank">来客対応マニュアル</a>
      <a class="list-group-item" href="https://docs.google.com/spreadsheets/d/1nBPCiF4kA4s0OBam5a_5rSNbNyohG4fsIOjtau8J6io/edit#gid=0" target="_blank">休日出勤管理表</a>
    </div>
  <a class="list-group-item" data-toggle="collapse" data-parent="#accordion" href="#collapseThree"><span class="glyphicon glyphicon-tags" aria-hidden="true"></span> 社員向け  <span class="glyphicon glyphicon-menu-down" aria-hidden="true"></span></a>
    <div id="collapseThree" class="panel-collapse collapse">
      <a class="list-group-item" href="https://docs.google.com/document/d/1WupvBpA_7xI0rkx0WtQM0LNZJ7zfnghbCfhCGEIaGi8/edit" target="_blank">スタートマニュアルfor社員</a>
      <a class="list-group-item" href="https://docs.google.com/spreadsheets/d/17CJ4ZQfDGpj6xZGMJmf7OgV1JvxRRoSVLRtvi1kPrpA/edit#gid=969131476 " target="_blank">メールアドレス一覧</a>
      <a class="list-group-item" href="https://docs.google.com/spreadsheets/d/1MpfusLvR9hP9AhwnonqBXIPlqLlzZ1UJV4dfILF4K6Q/edit" target="_blank">ID・PW管理表</a>
      <a class="list-group-item" href="https://docs.google.com/spreadsheets/d/1J2tHNh8nbaFrixmJvoqbohn5UkUs3NZlPRT8BrDlqJQ/edit#gid=1475379370" target="_blank">在籍表</a>
      <a class="list-group-item" href="https://docs.google.com/spreadsheets/d/1QXwl_EWi7Y9Js8UMXtBIHZi-ZE8APYsGpB0BsuV7GTs/edit#gid=478472415" target="_blank">FAM制度メンバー＆予算管理</a>
      <a class="list-group-item" href="https://docs.google.com/document/d/1ZboHNE11Y3YHFUtHdsyox0QU3tr3lhLGqRmUEkmlauY/edit" target="_blank">横断プロジェクトルール</a>
      <a class="list-group-item" href="http://52.197.200.13/users/sign_in" target="_blank">CUBIT</a></li>
      <a class="list-group-item" href="https://cub.kaonavi.jp/cub/index.php/" target="_blank">カオナビ</a></li>
      <a class="list-group-item" href="https://docs.google.com/document/d/1kOibpaBeBqpGI4OV0hqj_fl0nzaC_hkV9eDoVHaCsGM/edit" target="_blank">旅費規定</a></li>
      <a class="list-group-item" href="https://docs.google.com/spreadsheets/d/1OQjWE2atBspAIVMZm4bkPUovchgKXl0uRnvYqC5WFWI/edit" target="_blank">シフト管理表</a></li>
      <a class="list-group-item" href="https://docs.google.com/document/d/15tpVKGErZWbVFnjFlNwADSVmc3F12ouSgAtBAfffoB4/edit" target="_blank">休暇取得申請方法</a></li>
      <a class="list-group-item" href="https://docs.google.com/spreadsheets/d/1bOLAOwF2FFc7JDwDjqGEixOdwQAOjH5QBGLC5qncKDo/edit#gid=1" target="_blank">出張記録</a></li>
      <a class="list-group-item" href="https://docs.google.com/document/d/1The7BI5fx96Unx7V4guzLAaBBWizdVCofOaQyQzgP8E/edit" target="_blank">遅延証明書</a></li>
      <a class="list-group-item" href="https://docs.google.com/document/d/1CFIe39hFcrOsuSJvmkTJvpqYUMYC71AiECd2TVUa9wQ/edit" target="_blank">定期代申請</a></li>
      <a class="list-group-item" href="https://docs.google.com/document/d/1CKmo8DQQDqgd2yvItXAFuBRcVaBdXO-S_Yg1uqKtLDE/edit" target="_blank">リフレッシュマッサージ制度</a></li>
      <a class="list-group-item" href="https://docs.google.com/spreadsheets/d/1rIeMco8bgNXU3OgrVL8LjwxL221trc_4oUVXWmfPPqk/edit#gid=1" target="_blank">PPCアカウント管理</a></li>
      <a class="list-group-item" href="https://drive.google.com/drive/folders/0Bw5foGvt2eOsflVCWTg1clNUN1ZnUGNxQUFJbUxfZFp1V3pzLVZuczczNndHUnRWZS1jSmM" target="_blank">チーム別売上管理表フォルダ</a></li>
    </div>
  <a class="list-group-item" data-toggle="collapse" data-parent="#accordion" href="#collapseFour"><span class="glyphicon glyphicon-tag" aria-hidden="true"></span> インターン向け  <span class="glyphicon glyphicon-menu-down" aria-hidden="true"></span></a>
    <div id="collapseFour" class="panel-collapse collapse">
      <a class="list-group-item" href="https://docs.google.com/document/d/1R3_ZeINL6DT8pKoyeZ7dfml_hV-fex3PV_Wz6747gjg/edit" target="_blank">スタートマニュアルforインターン</a>
      <a class="list-group-item" href="https://docs.google.com/document/d/1W5HvSXDioa0Q8kY_HOGjbjzEYt2D6N6uNN3S0kdaOXU/edit" target="_blank">休日出勤制度</a>
      <a class="list-group-item" href="https://docs.google.com/document/d/1DIHRbc2vXBABPQLM_TdT5T5u9r90WK0mgbGSyWqZsII/edit" target="_blank">シニアインターン制度</a>
      <a class="list-group-item" href="https://docs.google.com/document/d/16Mf5FfH4uhZIpFLfAiZGiBtv65tkqxxRNxFgnSR_K0Q/edit" target="_blank">競業避止条項に抵触するおそれのある兼業許可願</a>
    </div>

  <a class="list-group-item" data-toggle="collapse" data-parent="#accordion" href="#collapseSix"><span class="glyphicon glyphicon-level-up" aria-hidden="true"></span> 内部発注  <span class="glyphicon glyphicon-menu-down" aria-hidden="true"></span></a>
    <div id="collapseSix" class="panel-collapse collapse">
      <a class="list-group-item" href="https://docs.google.com/a/cuebic.co.jp/forms/d/e/1FAIpQLScAJxVjYA3vtnF7owsXpQn4ifFYQZgHEx3J-yvB1O7zUXS5Eg/viewform" target="_blank">クリユニ見積もり依頼フォーム<br>（プロフィット用）</a>
      <a class="list-group-item" href="https://docs.google.com/a/cuebic.co.jp/forms/d/e/1FAIpQLSfof4adfCtKXgru6XEwOldYwAGCt2OFIeyDXFa9arGLHPBcNg/viewform" target="_blank">クリユニ見積もり依頼フォーム<br>（ノンプロフィット用）</a>
      <a class="list-group-item" href="https://docs.google.com/forms/d/e/1FAIpQLSfBZokKkmsZBSXMU3LaCV2hVcM94o92qmp3fPIYs7PavmMnXA/viewform" target="_blank">ICTC見積もりフォーム</a>
    </div>

  <a class="list-group-item" data-toggle="collapse" data-parent="#accordion" href="#collapseFive"><span class="glyphicon glyphicon-bullhorn" aria-hidden="true"></span> 規定・ルール・制度  <span class="glyphicon glyphicon-menu-down" aria-hidden="true"></span></a>
    <div id="collapseFive" class="panel-collapse collapse">
      <a class="list-group-item" href="https://docs.google.com/document/d/151dTyiuyAeoziTE6bb2NmUwnOEGxAtOf6pO33upV_Wc/edit" target="_blank">就業規則</a>
      <a class="list-group-item" href="https://docs.google.com/document/d/1u9y-eJ6ZH-SR-kE9j9-iwvcL-EndyPLtigYXlj2Deww/edit " target="_blank">勤怠</a>
      <a class="list-group-item" href="https://docs.google.com/document/d/1PPDY4ren1w1Ux1YfSz4PFniwVKNt7snLhSc_dAIGTHY/edit " target="_blank">悪天候時や災害時の出勤ルール</a>
      <a class="list-group-item" href="https://docs.google.com/document/d/1XUVBfAUbbhvKRqjN4jzGaRjVNY6FMuX4-mm5s_3ozIw/edit " target="_blank">日報フォーマット</a>
      <a class="list-group-item" href="https://docs.google.com/document/d/1IqaharkCRBXdCxolIL-HSZxVhP2sGe5e3gg42NI3m2g/edit " target="_blank">会議ルール</a>
      <a class="list-group-item" href="https://docs.google.com/document/d/1qSyK6ybc_vxkbp6-JFJNg4xVaxrv0S7naolC2WriGAo/edit" target="_blank">FAM制度</a>
      <a class="list-group-item" href="https://docs.google.com/document/d/1KtzxUDGM0-GmcOFMJ-SBqWNsziNkOXZd-DWc-a71KRg/edit" target="_blank">お昼寝制度</a>
      <a class="list-group-item" href="https://docs.google.com/document/d/1CGu5m6w752qTia_7s7ZCr61285wO6HKfSxjURIiGdWc/edit" target="_blank">やるじゃんレター</a>
    </div>
</div>
