<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">CUE&A</a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="http://52.68.163.227/wordpress/" target="_blank"><span class="glyphicon glyphicon-time" aria-hidden="true"></span> 日報サイト</a></li>
        <li><a href="https://docs.google.com/spreadsheets/d/1X2mk8QCySqc8egCn5MZrta1Bv25fgtCayG5il3A9CBE/edit#gid=2080568492" target="_blank"><span class="glyphicon glyphicon-pawn" aria-hidden="true"></span> 座席表</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><span class="glyphicon glyphicon-calendar" aria-hidden="true"></span> KoT <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="https://kingoftime-recorder.appspot.com/login?param=OOeFBh0Wtl15BGVP4rfEkptcAmnbFlAPnv7aadbYIelWOB7TnHe6BqbuOYDEFKnbQz5NV4VXS7dZWbV1ufYrfddenWDn7oEw" target="_blank">コンテンツDiv</a></li>
            <li><a href="https://kingoftime-recorder.appspot.com/login?param=OOeFBh0Wtl3mVnfES0m0SqZHrPWNLca/1unbQOgeLDPpEeSxVF4NUuoyc5WSbucsH12XhzgkqWhlKGGEC4drEx5LEuOcMVyX" target="_blank">エディトリアルデスク</a></li>
            <li><a href="https://kingoftime-recorder.appspot.com/login?param=OOeFBh0Wtl15BGVP4rfEknJf62QlM/n9JkUDFdg2X2VWOB7TnHe6BqbuOYDEFKnbQz5NV4VXS7dZWbV1ufYrfddenWDn7oEw" target="_blank">アドストラテジーDiv</a></li>
            <li><a href="https://kingoftime-recorder.appspot.com/login?param=OOeFBh0Wtl3mVnfES0m0SjLEaOaSGBKs1unbQOgeLDPpEeSxVF4NUuoyc5WSbucsH12XhzgkqWhlKGGEC4drEx5LEuOcMVyX" target="_blank">キャリアマーケットDiv</a></li>
            <li><a href="https://kingoftime-recorder.appspot.com/login?param=OOeFBh0Wtl15BGVP4rfEkvNHQ/4JqTuhJkUDFdg2X2VWOB7TnHe6BqbuOYDEFKnbQz5NV4VXS7dZWbV1ufYrfddenWDn7oEw" target="_blank">アカウントプランニングDiv</a></li>
            <li><a href="https://kingoftime-recorder.appspot.com/login?param=OOeFBh0Wtl15BGVP4rfEkhsz9ufnPH3LCRu8/xGMXphWOB7TnHe6BqbuOYDEFKnbQz5NV4VXS7dZWbV1ufYrfddenWDn7oEw" target="_blank">CS／社長室／経営企画室／アジア戦略室</a></li>
            <li><a href="https://kingoftime-recorder.appspot.com/login?param=OOeFBh0Wtl3mVnfES0m0SiTLPDGLvZdk1unbQOgeLDPpEeSxVF4NUuoyc5WSbucsH12XhzgkqWhlKGGEC4drEx5LEuOcMVyX" target="_blank">事業戦略室</a></li>
            <li><a href="https://kingoftime-recorder.appspot.com/login?param=OOeFBh0Wtl15BGVP4rfEkvNHQ/4JqTuhblWUYqQdQqRWOB7TnHe6BqbuOYDEFKnbQz5NV4VXS7dZWbV1ufYrfddenWDn7oEw" target="_blank">クリエイティブユニット</a></li>
            <li><a href="https://kingoftime-recorder.appspot.com/login?param=OOeFBh0Wtl15BGVP4rfEkvNHQ/4JqTuhfkxhdhN++BNWOB7TnHe6BqbuOYDEFKnbQz5NV4VXS7dZWbV1ufYrfddenWDn7oEw" target="_blank">ICTセンター</a></li>
            <li><a href="https://kingoftime-recorder.appspot.com/login?param=OOeFBh0Wtl15BGVP4rfEkl7xpQRMmkebblWUYqQdQqRWOB7TnHe6BqbuOYDEFKnbQz5NV4VXS7dZWbV1ufYrfddenWDn7oEw" target="_blank">サロン</a></li>
            <li><a href="https://kingoftime-recorder.appspot.com/login?param=OOeFBh0Wtl16iJonv3Gz9g5soloT0bAB1unbQOgeLDPpEeSxVF4NUuoyc5WSbucsH12XhzgkqWhlKGGEC4drEx5LEuOcMVyX" target="_blank">福岡</a></li>
          </ul>
        </li>
      </ul>
      <% if false %>
      <form class="navbar-form navbar-left" role="search">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Search">
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
      </form>
      <% end %>
      <ul class="nav navbar-nav navbar-right">
        <% if false%>
        <li>      <INPUT type="button" class="btn btn-default" value="ページ内検索"
        onclick="javascript:(function(){ var d = document.body, e = prompt(&quot;&quot;, &quot;&quot;); d.innerHTML = d.innerHTML.replace(RegExp(&quot;&gt;[^&lt;]*(?:&quot;+e+&quot;)[^&lt;]*&lt;&quot;, &quot;ig&quot;),function(a){ return a.replace(RegExp(e, &quot;ig&quot;), '&lt;span style=&quot;color:Black;background:Yellow;&quot;&gt;$&amp;&lt;/span&gt;'); }); })()">
</li>
        <%end%>
        <li><a href="https://www.chatwork.com/" target="_blank"><span class="glyphicon glyphicon-comment" aria-hidden="true"></span> チャットワーク</a></li>
        <li><a href="https://www.google.com/gmail/" target="_blank"><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span> Gmail</a></li>
        <li><a href="https://drive.google.com/drive/u/0/my-drive" target="_blank"><span class="glyphicon glyphicon-cloud-upload" aria-hidden="true"></span> Google Drive</a></li>
        <li><a href="https://www.google.com/calendar/render?hl=ja" target="_blank"><span class="glyphicon glyphicon-calendar" aria-hidden="true"></span> Googleカレンダー</a></li>

        <li><a href="http://cue-ch.com/" target="_blank"><span class="glyphicon glyphicon-modal-window" aria-hidden="true"></span> キューチャン！</a></li>
        <li><a href="http://cuebic.co.jp/" target="_blank"><span class="glyphicon glyphicon-globe" aria-hidden="true"></span> コーポレートサイト</a></li>
      </ul>
    </div>
  </div>
</nav>
