<!DOCTYPE html>
<% provide(:title, "リンク集") %>
<html lang="en">
  <head>
  </head>

  <body>


  <div class="container">

    <div class="page-header">
    <h1>リンク集 <small>各種サイトへのリンク集</small></h1>

    </div>

    <div class="row">

    <div class="btn-group btn-group-lg" role="group" aria-label="...">
      <button type="button" class="btn btn-default"><a href="../"><span class="glyphicon glyphicon-home" aria-hidden="true"></span> Home</a></button>
      <button type="button" class="btn btn-default"><a href="http://52.68.163.227/wordpress/" target="_blank"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span> 日報</a></button>

      <div class="btn-group btn-group-lg" role="group" aria-label="...">
        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <a href="#"><span class="glyphicon glyphicon-time" aria-hidden="true"></span>　KoT</a>
          <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
          <li><a href="https://kingoftime-recorder.appspot.com/login?param=OOeFBh0Wtl15BGVP4rfEkptcAmnbFlAPnv7aadbYIelWOB7TnHe6BqbuOYDEFKnbQz5NV4VXS7dZWbV1ufYrfddenWDn7oEw" target="_blank">コンテンツDiv</a></li>
          <li><a href="https://kingoftime-recorder.appspot.com/login?param=OOeFBh0Wtl15BGVP4rfEknJf62QlM/n9JkUDFdg2X2VWOB7TnHe6BqbuOYDEFKnbQz5NV4VXS7dZWbV1ufYrfddenWDn7oEw" target="_blank">アドストラテジーDiv</a></li>
          <li><a href="https://kingoftime-recorder.appspot.com/login?param=OOeFBh0Wtl15BGVP4rfEkhsz9ufnPH3LCRu8/xGMXphWOB7TnHe6BqbuOYDEFKnbQz5NV4VXS7dZWbV1ufYrfddenWDn7oEw" target="_blank">CS／社長室／アジア戦略室</a></li>
          <li><a href="https://kingoftime-recorder.appspot.com/login?param=OOeFBh0Wtl15BGVP4rfEkl7xpQRMmkebblWUYqQdQqRWOB7TnHe6BqbuOYDEFKnbQz5NV4VXS7dZWbV1ufYrfddenWDn7oEw" target="_blank">サロン</a></li>
          <li><a href="https://kingoftime-recorder.appspot.com/login?param=OOeFBh0Wtl15BGVP4rfEkvNHQ/4JqTuhblWUYqQdQqRWOB7TnHe6BqbuOYDEFKnbQz5NV4VXS7dZWbV1ufYrfddenWDn7oEw" target="_blank">クリエイティブユニット</a></li>
          <li><a href="https://kingoftime-recorder.appspot.com/login?param=OOeFBh0Wtl15BGVP4rfEkvNHQ/4JqTuhJkUDFdg2X2VWOB7TnHe6BqbuOYDEFKnbQz5NV4VXS7dZWbV1ufYrfddenWDn7oEw" target="_blank">アカウントプランニングDiv</a></li>
          <li><a href="https://kingoftime-recorder.appspot.com/login?param=OOeFBh0Wtl15BGVP4rfEkvNHQ/4JqTuhfkxhdhN++BNWOB7TnHe6BqbuOYDEFKnbQz5NV4VXS7dZWbV1ufYrfddenWDn7oEw" target="_blank">ICTセンター</a></li>
        </ul>
    </div>

      <div class="btn-group btn-group-lg" role="group" aria-label="...">
        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" disabled="disabled">
          <a href="#"><font color="#808080"><span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span> テクニカルサポート</font></a>
          <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
          <li><a href="#">PC不具合対処マニュアル</a></li>
          <li><a href="#">不調対応依頼フォーム</a></li>
        </ul>
      </div>

      <div class="btn-group btn-group-lg" role="group" aria-label="...">
        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" disabled="disabled">
          <a href="#"><font color="#808080"><span class="glyphicon glyphicon-comment" aria-hidden="true"></span> チーム掲示板 </font></a>
          <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
          <li><a href="#">コンテンツDiv</a></li>
          <li><a href="#">アドストラテジーDiv</a></li>
          <li><a href="#">アカウントプランニングdiv</a></li>
          <li role="separator" class="divider"></li>
          <li><a href="#">ICTC</a></li>
          <li><a href="#">クリユニ</a></li>
          <li><a href="#">CS</a></li>
        </ul>
      </div>

      <div class="btn-group btn-group-lg" role="group" aria-label="...">
        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <a href="#"><span class="glyphicon glyphicon-folder-open" aria-hidden="true"></span> リンク集</a>
          <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
          <li><a href="../home/manual#all">全社向け</a></li>
          <li><a href="../home/manual#regular">社員向け</a></li>
          <li><a href="../home/manual#intern">インターン向け</a></li>
          <li role="separator" class="divider"></li>
          <li><a href="../home/manual">すべてのリンクはこちら</a></li>
        </ul>
    </div>
  </div>


      <div class="col-md-7">


    <h1 id="all"><span class="glyphicon glyphicon-tag" aria-hidden="true"></span> 全社向け</h1>

    <div class="bs-component">
      <ul class="nav nav-tabs">
        <li class="active"><a href="#use_manual" data-toggle="tab"><span class="glyphicon glyphicon-education" aria-hidden="true"></span> 各種利用マニュアル</a></li>
        <li><a href="#rule" data-toggle="tab"><span class="glyphicon glyphicon-comment" aria-hidden="true"></span> 規則・ルール関連</a></li>
        <li><a href="#company" data-toggle="tab"><span class="glyphicon glyphicon-flag" aria-hidden="true"></span> 会社情報</a></li>
        <li><a href="#system" data-toggle="tab"><span class="glyphicon glyphicon-bullhorn" aria-hidden="true"></span> 制度</a></li>
      </ul>
      <div id="myTabContent" class="tab-content">
        <div class="tab-pane fade active in" id="use_manual">
          <li><a href="https://docs.google.com/document/d/1TNYCPnnm9HDGYw5KREkcW_6zZkTXiA6EnyYBq7p-CY8/edit" target="_blank">オフィス利用マニュアル</a></li>
          <li><a href="https://docs.google.com/document/d/1Th0yirc7JiafjmUU7buDOnvbgdgaBNi_Zi5wvRqP0Os/edit" target="_blank">共有フォルダ</a></li>
          <li><a href="https://docs.google.com/document/d/1kLvRIESgpR_oh9-z5Q5ohwEsidDofxot8Q0zAuG6PKI/edit" target="_blank">キングオブタイム</a></li>
          <li><a href="https://docs.google.com/document/d/1BWyvkR3o9DJ02ylZX6pcc9HjOM7WCA850e4pNeFjmrI/edit" target="_blank">電話対応マニュアル</a></li>
          <li><a href="https://docs.google.com/spreadsheets/d/1FoSRhajKBGtr_leQ_nuoRJYiDgSAptUAM51T-Bfsvwc/edit#gid=0" target="_blank">電話対応フローチャート</a></li>
          <li><a href="https://docs.google.com/document/d/17mgfTfv9nnwXcHEvQ2IVVXrtP3cPyv6dYJpYWa1fVDQ/edit" target="_blank">来客対応マニュアル</a></li>
          <li><a href="https://docs.google.com/spreadsheets/d/1nBPCiF4kA4s0OBam5a_5rSNbNyohG4fsIOjtau8J6io/edit#gid=0" target="_blank">休日出勤管理表</a></li>
        </div>

        <div class="tab-pane fade" id="rule">
          <li><a href="https://docs.google.com/document/d/151dTyiuyAeoziTE6bb2NmUwnOEGxAtOf6pO33upV_Wc/edit" target="_blank">就業規則</a></li>
          <li><a href="https://docs.google.com/document/d/1u9y-eJ6ZH-SR-kE9j9-iwvcL-EndyPLtigYXlj2Deww/edit " target="_blank">勤怠</a></li>
          <li><a href="https://docs.google.com/document/d/1PPDY4ren1w1Ux1YfSz4PFniwVKNt7snLhSc_dAIGTHY/edit " target="_blank">悪天候時や災害時の出勤ルール</a></li>
          <li><a href="https://docs.google.com/document/d/1XUVBfAUbbhvKRqjN4jzGaRjVNY6FMuX4-mm5s_3ozIw/edit " target="_blank">日報フォーマット</a></li>
          <li><a href="https://docs.google.com/document/d/1IqaharkCRBXdCxolIL-HSZxVhP2sGe5e3gg42NI3m2g/edit " target="_blank">会議ルール</a></li>
        </div>

        <div class="tab-pane fade" id="company">
          <li><a href="http://cubic-hd.co.jp/" target="_blank">コーポレートサイト</a></li>
          <li><a href="http://cubic-hd.co.jp/blog/ceo/" target="_blank">社長ブログ</a></li>
          <li><a href="https://docs.google.com/spreadsheets/d/1dQWh2tXcfVYJHoSc3KRc55VoUu2RfxArNj5txH5kNHQ/edit#gid=935187836" target="_blank">組織図</a></li>
          <li><a href="https://docs.google.com/spreadsheets/d/1X2mk8QCySqc8egCn5MZrta1Bv25fgtCayG5il3A9CBE/edit#gid=1197490657" target="_blank">座席表</a></li>
        </div>

        <div class="tab-pane fade" id="system">
          <li><a href="https://docs.google.com/document/d/1qSyK6ybc_vxkbp6-JFJNg4xVaxrv0S7naolC2WriGAo/edit" target="_blank">FAM制度</a></li>
          <li><a href="https://docs.google.com/document/d/1KtzxUDGM0-GmcOFMJ-SBqWNsziNkOXZd-DWc-a71KRg/edit" target="_blank">お昼寝制度</a></li>
          <li><a href="https://docs.google.com/document/d/1CGu5m6w752qTia_7s7ZCr61285wO6HKfSxjURIiGdWc/edit" target="_blank">やるじゃんレター</a></li>
        </div>
    </div>
  </div>
</div>

<div class="col-md-5">

  <h1 id="regular"><span class="glyphicon glyphicon-user" aria-hidden="true"></span> 社員向け</h1>
  <li><a href="https://docs.google.com/document/d/1WupvBpA_7xI0rkx0WtQM0LNZJ7zfnghbCfhCGEIaGi8/edit" target="_blank">スタートマニュアルfor社員</a></li>
  <li><a href="https://docs.google.com/spreadsheets/d/17CJ4ZQfDGpj6xZGMJmf7OgV1JvxRRoSVLRtvi1kPrpA/edit#gid=969131476 " target="_blank">メールアドレス一覧</a></li>
  <li><a href="https://docs.google.com/spreadsheets/d/1MpfusLvR9hP9AhwnonqBXIPlqLlzZ1UJV4dfILF4K6Q/edit" target="_blank">ID・PW管理表</a></li>
  <li><a href="https://docs.google.com/spreadsheets/d/1J2tHNh8nbaFrixmJvoqbohn5UkUs3NZlPRT8BrDlqJQ/edit#gid=1475379370" target="_blank">在籍表</a></li>
  <li><a href="https://docs.google.com/spreadsheets/d/1QXwl_EWi7Y9Js8UMXtBIHZi-ZE8APYsGpB0BsuV7GTs/edit#gid=478472415" target="_blank">FAM制度メンバー＆予算管理</a></li>
  <li><a href="https://docs.google.com/document/d/1ZboHNE11Y3YHFUtHdsyox0QU3tr3lhLGqRmUEkmlauY/edit" target="_blank">横断プロジェクトルール</a></li>
  <li><a href="http://52.197.200.13/users/sign_in" target="_blank">CUBIT</a></li>

  <h1 id="intern"><span class="glyphicon glyphicon-user" aria-hidden="true"></span> インターン向け</h1>
  <li><a href="https://docs.google.com/document/d/1R3_ZeINL6DT8pKoyeZ7dfml_hV-fex3PV_Wz6747gjg/edit" target="_blank">スタートマニュアルforインターン</a></li>
  <li><a href="https://docs.google.com/document/d/1W5HvSXDioa0Q8kY_HOGjbjzEYt2D6N6uNN3S0kdaOXU/edit" target="_blank">休日出勤制度</a></li>
  <li><a href="https://docs.google.com/document/d/1DIHRbc2vXBABPQLM_TdT5T5u9r90WK0mgbGSyWqZsII/edit" target="_blank">シニアインターン制度</a></li>
  <li><a href="https://docs.google.com/document/d/16Mf5FfH4uhZIpFLfAiZGiBtv65tkqxxRNxFgnSR_K0Q/edit" target="_blank">競業避止条項に抵触するおそれのある兼業許可願</a></li>

</div>
</div>

<% if false %>
<h1><a href="../home/index"><span class="glyphicon glyphicon-home" aria-hidden="true"></span> TOPページ</a></h1>
<% end %>
</div>


  </body>
</html>
